*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tarolo{
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 30px;
    cursor: pointer;
}

.gallery img{
    width: 100%;
    border-style: ridge;
    border-color: black;
}

.tarolo .gallery :hover img{
    transform: scale(1.1);
}

.tarolo .popup-img{
    display: none;
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.tarolo .popup-img span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.tarolo .popup-img img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .tarolo .popup-img img{
        width: 95%;
    }
}

